<div class="pagetitle">
  <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <!-- Columns -->
    <div class="col-lg-12">
      <div class="row">
        <!-- Arrivals Card -->
        <div class="col-xxl-6 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Arrivals <span>| Today</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>xxx</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Arrivals Card -->

        <!-- Departures Card -->
        <div class="col-xxl-6 col-md-6">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">Departures <span>| Today</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>xxx</h6>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Departures Card -->

        <!-- Current Arrivals -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Current Arrivals<span>| Today</span></h5>
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Airline</th>
                    <th scope="col">Flight</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Status</th>
                    <th scope="col">Scheduled</th>
                    <th scope="col">Update</th>
                    <th scope="col">Gate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">American Airlines</th>
                    <td>AA 9033</td>
                    <td>Orlando, FL</td>
                    <td><span class="badge bg-success">On-Time</span></td>
                    <td>5:00 PM</td>
                    <td>5:00 PM</td>
                    <td>Gate 2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Reports -->

        <!-- Current Departures -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Current Departures <span>| Today</span></h5>
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Airline</th>
                    <th scope="col">Flight</th>
                    <th scope="col">To</th>
                    <th scope="col">Status</th>
                    <th scope="col">Scheduled</th>
                    <th scope="col">Update</th>
                    <th scope="col">Gate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">American Airlines</th>
                    <td>AA 9033</td>
                    <td>Orlando, FL</td>
                    <td><span class="badge bg-success">On-Time</span></td>
                    <td>5:00 PM</td>
                    <td>5:00 PM</td>
                    <td>Gate 2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
      </div>
    </div><!-- End Left side columns -->
  </div>
</section>
