<div class="pagetitle">
    <h1>New Flight Info</h1>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- General Form Elements -->
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Flight Arrivals / Departures</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Arrivals" formControlName="flightCode" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Arrivals
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Departures" formControlName="flightCode">
                                <label class="form-check-label" for="gridRadios2">
                                  Departures
                                </label>
                              </div>
                            </div>
                        </fieldset>
                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                              <input type="date" class="form-control" formControlName="scheduledDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Airline</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" formControlName="airline" (change)="getFlight($event)">
                                    <option selected>Selected Airline</option>
                                    <option *ngFor="let tempAirline of airlines">
                                        {{ tempAirline.name }} | {{ tempAirline.code }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Flight</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" formControlName="flight">
                                    <option selected></option>
                                    <option  *ngFor="let tempFlight of flights">
                                        {{ tempFlight.number }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" formControlName="status">
                                    <option selected>Select Status</option>
                                    <option *ngFor="let tempStatus of statusList">
                                        {{ tempStatus.code }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Gate</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" formControlName="gate">
                                    <option selected>Select Gate</option>
                                    <option *ngFor="let tempGate of gates">
                                        {{ tempGate.number }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Airport City</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" (change)="getAirportNameAndIataByCity($any($event.target).value)">
                                    <option selected>Open this select menu</option>
                                    <option *ngFor="let tempCities of uniqueCities">
                                        {{ tempCities }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Airport Name and Code</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" formControlName="airportCode">
                                    <!-- <option *ngFor="let tempNameIATA of airportNameAndIATA | keyvalue">
                                        {{ tempNameIATA.value['name'] }} | {{ tempNameIATA.value['iata_code'] }}
                                    </option> -->
                                    <option *ngFor="let tempNameIATA of airportNameAndIATA | keyvalue" value="{{tempNameIATA.value['iata_code']}}">
                                        {{ tempNameIATA.value['name'] }} | {{ tempNameIATA.value['iata_code'] }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Scheduled Time</label>
                            <div class="col-sm-10">
                              <input type="time" class="form-control" formControlName="scheduledTime">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Submit Button</label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit Form</button>
                            </div>
                        </div>
                    </form><!-- End General Form Elements -->
                </div>
            </div>
        </div>
    </div>
</section>